/* Webfont: Yekan */
@font-face {
  font-family: "Yekan";
  src: url("Yekan.eot"); /* IE9 Compat Modes */
  src: url("Yekan.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("Yekan.woff2") format("woff2"),
    /* Modern Browsers */ url("Yekan.woff") format("woff"),
    /* Modern Browsers */ url("Yekan.otf") format("opentype"),
    /* Open Type Font */ url("Yekan.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Yekan", Arial, Helvetica, sans-serif;
  background: #ebf2f7;
}

.logo img {
  width: 150px;
  padding-left: 1rem;
}

.header {
  display: grid;
  justify-content: space-between;
  padding: 0 8px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-bottom: 1rem;
  grid-template-columns: 5fr 1fr 1fr;
}
@media (max-width: 600px) {
  .logo {
    display: none;
  }
  .plus-user {
    width: 100px;
  }
  ul li {
    margin-left: 15px;
    margin-bottom: 10px;
  }
}
@media (max-width: 1150px) {
  .plus-user {
    width: 100px;
  }
}

.header-navbar {
  position: sticky;
  top: 0;
}

.navbar {
  margin-right: 25px;
}

.navbar ul {
  display: flex;
  list-style-type: none;
}

.navbar a {
  padding: 8px;
  color: #000;
  font-weight: 600;
  text-decoration: none;
}

.div-body {
  text-indent: 20px;
  display: flex;
}

main,
aside,
.header {
  background-color: #fff;
  border: 2px solid #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  align-items: center;
}

.main-content,
.sidebar-content {
  height: 800px;
  margin: 1rem;
  padding: 1rem;
  border-radius: 8px;
  font-size: 2rem;
  text-align: center;
}

.sidebar-content {
  width: 25%;
}

.main-content {
  width: 75%;
  font-size: 2rem;
}

.plus-user {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 50px;
  background-color: rgb(243, 232, 255);
  justify-content: center;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.login {
  padding: 20px 20px 20px 5px;
  color: #7c3aed;
  margin-top: -100px;
}

nav ul li {
  margin-top: 25px;
}
